<form action="/books/<%= book.id %>" method="PUT">
  <label>
    Title <input type="text" name="title" value="" required />
  </label>
  <label>
    Author <input type="text" name="author" value="" />
  </label>
  <label>
    Description <input type="text" name="description" value="" />
  </label>
  <label>
    Image Url <input type="text" name="image_url" value="" />
  </label>
  <label>
    ISBN <input type="text" name="isbn" value="" />
  </label>
  <label>
    ID <input type="text" name="id" value="" />
  </label>
  <button type="submit">Update Details</button>
</form>