<article class="book-shelf">
  <div class="book-sleeve">
    <img src="<%= book.image_url %>" class="book-image">
  </div>
  <div class="book-info">
    <h3>Title: <%= book.title %></h3>

    <h3>Author: <%= book.author %></h3>

    
  </div>
</article> 


<!-- <form action="/book/<%= book.id %>" method="POST">
  <button type="submit">View Details</button>
</form> -->
    <!-- <label class="hidden-label">
        Title <input type="text" name="title" value="" required />
      </label>
      <label class="hidden-label">
        Author <input type="text" name="author" value="" />
      </label>
      <label class="hidden-label">
        Description <input type="text" name="description" value="" />
      </label>
      <label class="hidden-label">
        Image Url <input type="text" name="image_url" value="" />
      </label>
      <label class="hidden-label">
        ISBN <input type="text" name="isbn" value="" />
      </label>
      <label class="hidden-label">
        ID <input type="text" name="id" value="" />
      </label> -->