<form action="/books" method="POST">
  <label class="hidden-label">
    Title <input type="text" name="title" value="" required />
  </label>
  <label class="hidden-label">
    Author <input type="text" name="author" value="" />
  </label>
  <label class="hidden-label">
    Description <input type="text" name="description" value="" />
  </label>
  <label class="hidden-label">
    Image Url <input type="text" name="image_url" value="" />
  </label>
  <label class="hidden-label">
    ISBN <input type="text" name="isbn" value="" />
  </label>
  <label class="hidden-label">
    ID <input type="text" name="id" value="" />
  </label>
  <button type="submit">View Details</button>
</form>