<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main>
      <p>404 Error! This location does not exist!</p>
      <p><%= error %></p>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>