<form action="/views/pages/index" method="POST">
  <label>
    Search By Title
    <input type="text" name="authorName">
  </label>
  <label>
    Search By Author
    <input type="text" name="bookTitle">
  </label>
  <button type="submit">Submit</button>
</form>