<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <form action="/searches" method="POST">
    <label>
      Search By Title
      <input type="radio" name="filter" value="title" required>
    </label>
    <label>
      Search By Author
      <input type="radio" name="filter" value="author">
    </label>
      <input type="text" name="bookQuery" placeholder="enter author or title">
    <button type="submit">Submit</button>
  </form>
</body>
</html>