<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main id="book-container">
      <% bookResults.forEach( book => { %>
        <%- include('../partials/book-details', {book}) %>
      <% }); %>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>